In [1]:
import pandas as pd

In [11]:
nota = pd.read_csv('ratings.csv')

In [12]:
nota

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [13]:
nota.columns = ['UsuarioID', 'FilmeID', 'Nota', 'Momento']
nota

        UsuarioID  FilmeID  Nota     Momento
0               1        1   4.0   964982703
1               1        3   4.0   964981247
2               1        6   4.0   964982224
3               1       47   5.0   964983815
4               1       50   5.0   964982931
...           ...      ...   ...         ...
100831        610   166534   4.0  1493848402
100832        610   168248   5.0  1493850091
100833        610   168250   5.0  1494273047
100834        610   168252   5.0  1493846352
100835        610   170875   3.0  1493846415

[100836 rows x 4 columns]

In [15]:
nota['Nota'].head()

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: Nota, dtype: float64

In [17]:
nota['Nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])